kagglehub
ipywidgets
ipykernel
matplotlib
overrides
ml_collections
einops
sentencepiece
flax
numpy
scipy
icecream
roboflow
python-dotenv
opencv-python
git+https://github.com/roboflow/supervision.git
keras
keras-nlp
tensorflow 
jax[cuda12]
